{% extends 'index.html' %}
{% block content %}
    <div>
        {% for image in posts.post_image.all %}
            <div>
                    <p><img src="{{ image.image.url }}"width="900" height= "600"
                    alt="..." style="box-shadow: 0 0 10px rgba(0,0,0,10); margin-top: 20px"></p>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <h3 class="card-title" style = "margin-top: 10px">{{ posts.title }}</h3>
        </div>
        <div class="col">
            <p class="card-text">{{ posts.description }}</p>
        </div>
        <div class="col">
            <p class="card-text" style = "margin-top: 10px">{{ posts.created }}</p>
        </div>
        {% if user.is_authenticated %}
        <div>
            <div class="col">
                <a class="btn btn-light" style = "margin-top: 10px;" href="{% url 'profile' posts.user.username %}">By {{ posts.user.username }}</a>
            </div>
            <a href="{% url 'index' %}" class="btn btn-dark" style = "margin-top: 10px">Go back</a>
            {% if posts.user.username %}
            <a href="{% url 'update' posts.id %}" class="btn btn-dark" style="margin-left: auto; margin-top: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
            </a>
            <a href="{% url 'delete' posts.id %}" class="btn btn-dark" style="margin-left: auto; margin-top: 10px">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            {% else %}
            {% endif %}
            </a>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="like">
                <button type="submit" class="btn btn-dark" style = "margin-top: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </button>
            </form>
                <div class="ml-3">
                    <a>{{ posts.likes_post.all.count }} people like this</a>
                </div>
                <div class="comments-area">
                    <h4>{{ posts.comment.all.count }} Comments</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="comment" value="{{ comment.id }}">
                            <textarea class="form-control mb-10" rows="5" name="text" placeholder="Messege"
                                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
                                      required=""></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Send comment</button>
                    </form>
                    {% for comment in posts.get_parent %}
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c1.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <a class="btn btn-outline-primary" style="margin-top: 10px" href="{% url 'profile' posts.user.username %}">By {{ comment.user }}</a>  
                                        <p class="comment" style="margin-top: 10px">{{ comment.text }}</p>
                                        <p class="date">{{ comment.comment_created }}</p>
                                    </div>
                                </div>
                            </div>
            {% endfor %}
            {% else %}
                    {% for comment in posts.get_parent %}
                        <div class="comment-list">
                            <div class="col">
                                <a class="card-text" href="{% url 'profile' posts.user.username %}">By {{ posts.user }}</a>
                            </div>
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="desc">
                                        <h5><a href="{% url 'profile' comment.user.username %}">{{ comment.user }}</a></h5>
                                        <p class="date">{{ comment.comment_created }}</p>
                                        <p class="comment">
                                            {{ comment.text }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
        {% endif %}
{% endblock %}